---
import Layout from '../layouts/Layout.astro';
---
<Layout frontmatter={{ title: "Sobre Nosotros", fecha: "2026" }}>
  <h2>El Proyecto ProFlow IA</h2>
  <p>ProFlow IA es una plataforma dedicada a la divulgación de avances en Inteligencia Artificial, desarrollo de software y videojuegos con Godot Engine.</p>
  
  <p>Fundado por <strong>Anthony Loaiza</strong>, estudiante de Ingeniería de Sistemas en la Universidad Internacional San Isidro Labrador (UISIL), este sitio busca conectar la teoría académica con herramientas prácticas de automatización.</p>
  
  <p>Nuestro objetivo es demostrar cómo la IA puede optimizar el flujo de trabajo de los desarrolladores modernos en Costa Rica y el mundo.</p>
</Layout>
