---
import Layout from '../layouts/Layout.astro';
---
<Layout frontmatter={{ title: "Sobre Nosotros", fecha: "2026" }}>
  <h2>El Proyecto ProFlow IA</h2>
  <p>ProFlow IA es una plataforma dedicada a la divulgación de avances en Inteligencia Artificial, desarrollo de software y videojuegos con el motor Godot.</p>
  
  <p>Fundado por <strong>Anthonny L.A</strong>, este sitio busca documentar herramientas prácticas de automatización y nuevas tecnologías.</p>
  
  <p>Nuestro objetivo es demostrar cómo la IA puede optimizar el flujo de trabajo de los desarrolladores modernos y generar soluciones innovadoras desde Costa Rica para el mundo.</p>
</Layout>
