---
import Layout from '../layouts/Layout.astro';
---
<Layout frontmatter={{ title: "Política de Privacidad", fecha: "2026" }}>
  <h2>Privacidad y Protección de Datos</h2>
  <p>En ProFlow IA, la privacidad de nuestros visitantes es de extrema importancia. Este documento detalla los tipos de información personal que se reciben y recopilan.</p>
  
  <h3>Cookies y Web Beacons</h3>
  <p>Utilizamos cookies para almacenar información sobre las preferencias de los visitantes y personalizar el contenido de la página web en función del tipo de navegador.</p>
  
  <h3>Google AdSense</h3>
  <p>Google, como proveedor de terceros, utiliza cookies para publicar anuncios en nuestro sitio. El uso de la cookie de DART le permite servir anuncios a los usuarios basados en su visita a este y otros sitios en Internet.</p>
</Layout>
